<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <div class="search-form">
        <%= form_with url: search_path, method: :get, local: true do |f| %>
          <%= f.text_field :keyword, value: @keyword %>
          <%= f.submit "検索" %>
        <% end %>
      </div>
      <!--部分テンプレート-->
      <%= render "public/menus/genre_search", genres: @genres %>
    </div>
    <div class="col-8 ml-2">
      <div class = "row">
        <% @all_ranks.each.with_index(1) do |menu,i|%>
          <div class="mr-4 mt-4">
            第<%= i %>位<br>
            <%= link_to menu_path(menu) do %>
              <%= image_tag menu.image, size:"150x120" %>
            <% end %>
            <p class="text-center"><strong><%= menu.title %></strong></p>
          </div>
        <% end %>
      </div>
      <div class="contents" style="display:flex; flex-wrap:wrap;">
        <% @menus.each do |menu| %>
          <div class="mr-4 mt-4">
            <%= link_to menu_path(menu) do %>
              <%= image_tag menu.image, size:"150x120" %>
            <% end %>
            <p class="text-center"><strong><%= menu.title %></strong></p>
          </div>
          <!--<= render "public/favorites/favorite",menu: menu%>-->
        <% end %>
      </div>
      <p class="text-center"><strong> <%= paginate @menus %></strong></p>
    </div>
  </div>
</div>