<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <div class="search-form">
        <%= form_with url: search_path, method: :get, local: true do |f| %>
          <%= f.text_field :keyword, value: @keyword %>
          <%= f.submit "検索" %>
        <% end %>
        <!--部分テンプレート-->
        <%= render "public/menus/genre_search", genres: @genres %>
      </div>
      <h4>メニューランキング</h4>
      <% @all_ranks.each.with_index(1) do |menu,i|%>
        <div class="mr-4 mt-4">
          第<%= i %>位<br>
          <%= link_to menu_path(menu) do %>
            <%= image_tag menu.image, size:"200x120" %>
          <% end %>
          <p class="text-center overflow-ellipsis"><strong><%= menu.title %></strong></p>
        </div>
      <% end %>
    </div>
    <div class="col-8 ml-2">
      <div class = "row">
        <h3>メニュー一覧</h3>
        <% if current_user.email != "guest@example.com" %>
        <h5>
          <%= link_to new_menu_path,class: 'btn' do%>
            <i class="fas fa-cookie"></i>
            新規メニュー
            <i class="fas fa-cookie"></i>
          <% end %>
        </h5>
        <% end %>
      </div>
      <div class="contents" style="display:flex; flex-wrap:wrap;">
        <% @menus.each do |menu| %>
          <div class="mr-4 mt-4">
            <%= link_to menu_path(menu) do %>
              <%= image_tag menu.image, size:"210x170" %>
            <% end %>
            <p class="text-center overflow-ellipsis"><strong><%= menu.title.truncate(10) %></strong></p>
          </div>
          <!--<= render "public/favorites/favorite",menu: menu%>-->
        <% end %>
      </div>
      <p class="text-center"><strong> <%= paginate @menus %></strong></p>
    </div>
  </div>
</div>