<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <h3 class="my-4 mt-5">新規投稿</h3>
      <!--form_with記述-->
      <%= form_with model: @menu, url: menus_path, method: :post, local: true do |f| %>
        <table class = "table table-borderless table-sm">
          <!--商品画像--><!--Q:画像選択のフォームがわからない-->
          <div class="field">
            <tr>
              <td><%= f.label :"料理画像" %></td>
              <td><%= f.file_field :image, accept: "image/*" %></td>
            </tr>
          </div>

          <!--商品名-->
          <div class="field">
            <tr>
              <td><%= f.label :"料理名"%></td>
              <td><%= f.text_field :title %></td>
            </tr>
          </div>

          <!--ジャンル--><!--Q:ジャンルを選択するフォームがわからない-->
          <div class="field">
            <tr>
              <td><%= f.label :"ジャンル" %></td>
              <td><%= f.collection_select :genre_id, Genre.all, :id, :name %></td>
            </tr>
          </div>

          <!--調理方法-->
          <div class="field">
            <tr>
              <td><%= f.label :"調理方法"%></td>
              <td><%= f.text_area :body , class: "w-60"%></td>
            </tr>
          </div>

          <!--新規登録-->
          <div class="actions">
            <tr>
              <td></td>
              <td><%= f.submit "新規登録",class: "btn btn-success px-5 mt-4" %></td>
            </tr>
          </div>
        </table>
　　　<% end %>
　　</div>
　</div>
</div>