<div class="container">
  <h3 class="my-4 mt-5">メニュー詳細</h3>
  <div class="row">
    <div class="col-md-3">
      <div class = "row">
        <!--画像-->
        <div class="text-center">
          <h4><%= @menu.title %></h4>
          <%= image_tag @menu.image, size: "300x300" %>
      　</div>
        　<!--編集削除-->
        <table class="table">
          <% if @menu.user == current_user %>
          <!--編集ボタン-->
          <th><%= link_to "編集する", edit_menu_path(@menu), class: 'btn btn-success' %></th>
          <!--あとで削除-->
          <th><%= link_to "削除する", menu_path(@menu), method: :delete, data: {confirm:  "本当に削除しますか？"}, class: "btn btn-danger" %></th>
          <% end %>
        </table>
      </div>
    </div>

    <div class = " col-md-8">
      <div class="text-center">
    　   <!--いいね機能の非同期通信-->
        <% if @menu.user_id != current_user.id %>
          <div id = "favorite_buttons_<%= @menu.id %>">
            <%= render "public/favorites/favorite", menu: @menu%>
          </div>
        <% end %>

        <!--メニュー詳細-->
        <div class="text-left">
          <br>
          <table class="table">
            <tr>
              <td>ジャ<br>ンル</td>
              <td><%= @menu.genre.name %></td>
            </tr>
            <tr>
              <td>調理<br>方法</td>
              <td><%= safe_join(@menu.body.split("\n"),tag(:br)) %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class = "col-md-8">
      <div class = "text-center">
        <div id = "comments_index" class="mb-2 bg-light border" style="height: 30vh; overflow-y: scroll;">
          <%= render "public/comments/index", menu: @menu %>
        </div>
          <%= render "public/comments/form", menu: @menu, comment: @comment %>
      </div>
    </div>
  </div>
</div>