<div class='container'>
  <div class='row'>
    <div class='col-md-8 offset-2'>
      <h3 class="my-4 mt-5">会員一覧</h3>

      <table class="table table">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>コメント数</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= user.id %>
              </td>
              <td>
              <%= link_to admin_user_path(user) do%>
                <%= user.name %>
              <% end %>
              </td>
        	    <td class = "text-danger">
        	      <%= user.comments.count %>
        	    </td>
              <% if user.is_valid == '有効'  %>
          	    <td class = "text-success">
          	      <%= user.is_valid %>
          	    </td>
          	  <%else%>
          	    <td class = "text-danger">
          	      <%= user.is_valid %>
          	    </td>
          	  <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
        <p><%= paginate @users %></p>
    </div>
  </div>