<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <h3 class="my-4 mt-5">メニュー詳細</h3>
        <!--画像-->
      <div class="text-center">
        <%= image_tag @menu.image, size: "350x220" %>
    　</div>

        <!--メニュー詳細-->
      <div class="text-center">
        <br>
        <table class="table">
          <tr>
            <th>メニュー名</th>
            <td><%= @menu.title %></td>
          </tr>
          <tr>
            <th>ジャンル</th>
            <td><%= @menu.genre.name %></td>
          </tr>

          <tr>
            <th>メニュー説明</th>
            <td><%= @menu.body %></td>
          </tr>
        </table>
          <%= link_to "削除", admin_menu_path(@menu), method: :delete, class: "btn btn-danger pull-center"%>
      </div>
    </div>
  </div>
</div>