<div class = "container">
  <h3>マイページ</h3>
  <div class = "row">
    <div class = "col-4">
      <!--ユーザー情報-->
      <table class = 'table table-hover'>
        <tr>
      	  <th class = "col-2">名前</th>
      	  <th><%= @user.name %></th>
        </tr>
        <tr>
      	  <th>自己紹介</th>
      	  <th><%= @user.introduction, :size => "50×50" %></th>
        </tr>
        <tr>
      	  <th>お気に入り数</th>
      	  <th><%= @user.favorites.count %></th>
        </tr>
      </table>
      <div class = "row">
        <%= link_to edit_user_path(@user), class:"btn btn-outline-secondary btn-block" do%>
          <i class="fas fa-user-cog"></i>
        <%end%>
      </div>
    </div>
    <div class="contents" style="display:flex; flex-wrap:wrap;">
      <!--ユーザー毎の投稿メニュー-->
      <% @user.menus.each do |menu| %>
        <div class="mr-4 mt-4">
          <%= link_to menu_path(menu) do %>
            <%= image_tag menu.image, size:"150x120" %>
          <% end %>
          <p class="text-center"><strong><%= menu.title %></strong></p>
        </div>
      <% end %>
    </div>
  </div>
</div>